<!DOCTYPE html>
<html lang="en" data-theme="black">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EpicTask</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    
    <h1>Epic Task</h1>
    <div class="card card-border bg-base-100 w-96">
        <div class="card-body">
          <h2 class="card-title">Criar banco de dados</h2>
          <p>Criar o banco com três tabelas no mysql</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Apagar</button>
          </div>
        </div>
      </div>


    <ul>
        <li> tarefa </li>
        <li> tarefa </li>
        <li> tarefa </li>
    </ul>
</body>
</html>